.htaccess
.DS_Store?
uploads/*
themes/twentyten/*
themes/twentyeleven/*
themes/twentytwelve/*
themes/twentythirteen/*
themes/risd_english_ox/lib/metabox/*
themes/oxygen/*
plugins/*
index.php
upgrade/*